{% extends "music/music_base.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <!-- django-chosen css media -->
    {{ form.media.css }}
{% endblock extra_css %}

{% block content %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" name="submit" value="Update Profile" />
        <a class="btn-link" href="{% url 'music:self_detail' %}">Cancel</a>
    </form>
{% endblock content %}

{% block extra_javascript %}
<!-- django-chosen js media -->
    {{ form.media.js }}
    <script type="text/javascript">
    $(".chosen-select").chosen();
    </script>
{% endblock extra_javascript %}
