{% extends "music/music_base.html" %}
{% load avatar_tags %}
{% load staticfiles %}

{% block title %}{{ object.user.username }}'s Profile{% endblock title %}

{% block content %}
<div class="container well">

  <div class="row">
    <div class="col-sm-12">

      <h2>{% avatar user 100 %} {{ object.user.username }} <small> - {{ object.user.first_name }} {{ object.user.last_name }}</small></h2>
    </div>
  </div>

{% if object.user == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-default btn-sm" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-default btn-sm" href="{% url 'account_email' %}">E-Mail</a>
    <a class="btn btn-default btn-sm" href="{% url 'avatar_change' %}">Avatar</a>
    <h3>Profile</h3>

    <ul class="list-unstyled">
      <li>{{ object.user.first_name }} {{ object.user.last_name }}</li>
      <li>Instrument:
        {% for o in object.instruments.all %}
          <span class="label label-primary">{{ o.name }}</span>
        {% endfor %}</li>
      <li>Location: {{ object.zipcode }} {{ zipcode.city }}, {{ zipcode.state }}</li>
    </ul>
    <a class="btn btn-default btn-sm" href="{% url 'music:update' %}" class="btn-link">Edit</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div><!-- .container.well -->
{% endblock content %}
