{% extends "base.html" %}
{% load staticfiles %}

{% block page_header %}
<div class="page-header">
  <h2>About <small> Site Details</small></h2>
</div>
{% endblock page_header %}

{% block content %}

    <div class="container">
        <div class="row well">
            <h2>DjangoDash Project: JamFind.us</h2>
            <p class="lead">Team: <a href="//ornumental.com">Ornumental</a></p>
        </div>

        <div class="row">
            <div class="well text-center">
                <img src="{% static 'img/screencap.png' %}" />
            </div>
            <div class="well">
                <h3 class="text-center">Project Details</h3>
                <p>JamFind.us is a site for musicians looking for other musicians to play with.</p>
                <h4>Built using: </h4>
                <div class="row credits">
                    <ul class="icons-ul">
                        <div class="col-md-6">
                            <li><i class="icon-li icon-star"></i> <a href="https://docs.djangoproject.com/en/1.6/">Django 1.6 (duh)</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="https://github.com/jimfmunro/cookiecutter-django/tree/djangodash-heroku">My Fork</a> of <a href="https://github.com/pydanny/cookiecutter-django">cookiecutter-django</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="http://getbootstrap.com">Bootstrap 3.0</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="http://bootswatch.com/flatly/">Bootswatch Theme: Flatly</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="http://fortawesome.github.io/">Font Awesome</a></li>
                        </div>
                        <div class="col-md-6">
                            <li><i class="icon-li icon-star"></i> <a href="http://heroku.com">Heroku</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="https://github.com/theatlantic/django-chosen">Django-Chosen</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="http://needim.github.io/noty/">Noty Jquery Plugin</a></li>
                            <li><i class="icon-li icon-star"></i> <a href="http://wbotelhos.com/raty">Raty JQuery Plugin</a></li>
                        </div>
                    </ul>
                </div>

                <div class="span4">
                    <a class="btn btn-success btn-block btn-large" href="//github.com/jimfmunro/djangodash2013"><i class="icon-github"></i> Go to Github Project</a>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

