{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        /* Space out content a bit */
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
    </style>
{% endblock css %}

{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1>
            <i class="icon-search"></i> JamFind.us
        </h1>
        <p class="lead">For adult amateur musicians looking for a place to play, learn and improve.</p>
        <p>If you put away your instrument after college, but want to start playing again, here's how.</p>
        <p>For all instruments and all styles of music.</p>

        <!-- search box -->
        <form class="form-inline" method="get" action="{% url 'search:main' %}">
          <div class="input-group">
              <input type="text" id="id_q" name="q" class="form-control input-lg" placeholder="Enter Zipcode or City, State">
              <span class="input-group-btn">
                <input class="btn btn-lg btn-success" type="submit" name="submit" value="Find a Jam!" />
              </span>
          </div><!-- /input-group -->
        </form>

        <!-- end search box -->

      </div><!-- jumbotron -->

      <div class="row marketing">
        <div class="col-lg-6">
          <h4><i class="icon-book"></i> For Beginners</h4>
          <p>You don't have to be an expert to jam. Find musicians at your skill level.</p>

          <h4><i class="icon-time"></i> Don't Wait</h4>
          <p>There's never a better time to get back into playing than now.</p>
        </div>

        <div class="col-lg-6">
          <h4><i class="icon-search"></i> Too Busy to Search?</h4>
          <p>We make it easy to find other interested musicians. Just a few clicks away.</p>

          <h4><i class="icon-building"></i> Find Places to Play</h4>
          <p>Coming soon...</p>
        </div>
      </div>

    </div> <!-- /container -->
{% endblock content %}
